<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Home</title>
<div id="pre-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span>Ecommerece </span>
          </div>
        </div>
      </div>
    </div>
     <!-- Prakash -->
     <sly data-sly-resource="${'Navigation' @resourceType='studygeeks/components/content/Navigation'}"></sly>