<div style="background-image: url(${properties.fileReference @context='styleString'}); background-position: ${properties.ImageAlign@context='styleString' }  ">
<!-- Banner Starts Here -->
    <div class="banner"   >
<div class="container" align=${properties.BannerAlign}>
        <div class="row">
          <div class="col-md-12">
            <div class="caption">
              <h2>${properties.BTitle}</h2>
              <div class="line-dec"></div>
              <p>${properties.BDesc}</p>
              <div class="main-button">
                <a href="#">${properties.Buttonname}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->