<sly data-sly-use.productdtlsList ="com.study.geeks.core.services.ProductdetailsService"></sly>
 
 
<!-- Featured Starts Here -->
    <div class="featured-items">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Featured Items</h1>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-carousel owl-theme">
			
			<sly data-sly-list.items="${productdtlsList.productdetails}">
<!-- /*<h1>${itemslist.count}</h1>
<h1>${items.getProductName}</h1>
<h1>${items.price}</h1>
<h1>${items.imageURL}</h1>
<h1>${items.productlink}</h1> */-->

	<a href=${items.productlink}>
                <div class="featured-item">
                  <img src=${items.imageURL} alt="Item "${itemslist.count}>
                  <h4>${items.getProductName}</h4>
                  <h6>${items.price}</h6>
                </div>	
              </a>				
			</sly>
           
   
   </div>
          </div>
        </div>
      </div>
    </div>
   
<!-- Featured end Here -->